@import "variables";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

a,
a:hover,
a:active,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none; /* no underline */
}
