.footer {
  background: black;
  width: 100%;
  display: flex;
  padding: 5rem 5rem;
  flex-direction: row;

  .footer__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 15rem 0;
    cursor: pointer;

    .footer__bottom {
      display: flex;
      width: 100%;

      a {
        color: white;
      }
    }
    ul {
      color: rgba(255, 255, 255, 0.6);
      text-transform: capitalize;

      li {
        margin: 1rem 0;
        font-size: 1.4rem;
      }
      li.link__heading {
        font-weight: 700;
        font-size: 1.7rem;
        color: white;
        text-transform: uppercase;
      }
    }
  }
}
