.hero {
  min-height: 100vh;
  background-image: url("/images/alfa-lifestyle-lady_2048x2048.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .hero__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    left: 10%;
    padding: 3rem;

    h1 {
      font-size: 6rem;
      font-weight: 800;
      text-transform: uppercase;

      span {
        display: block;
        line-height: 1.2;
      }
    }

    p {
      font-size: 1.6rem;
    }

    a {
      display: inline-block;
      background: white;
      padding: 1.5rem 2.5rem;
      color: black;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 700;
      margin-top: 1rem;
    }
  }
}
