.jumbotron--lg {
  border-top: 1px solid #eee;
  background: rgb(245, 245, 245);
  padding: 15rem 30px;
}

.jumbotron {
  h1 {
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 4rem;
    text-transform: uppercase;
  }

  button {
    background: black;
    color: white;

    &:hover {
    }
  }

  input {
    padding: 2rem;
  }
}
