.jumbotron--lg {
  padding-top: 15rem;
  padding-bottom: 15rem;
  background: white;
  border-top: 1px solid #eee;
}

.jumbotron {
  h1 {
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 4rem;
    text-transform: uppercase;
  }

  input {
    padding: 2rem;
  }
}
