.section__hero__img__container {
  a {
    background: white;
    position: absolute;
    padding: 2rem 3rem;
    z-index: 22;
    top: 70%;
    left: 3rem;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
  }
}
