.section__hero {
  margin-top: 1px;
}
.section__hero__img__container {
  width: 100%;
  position: relative;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  max-height: 100vh;
  .section__hero--1 {
    max-width: 100%;
    width: 100%;
    object-fit: scale-down;
    object-position: top;
    transition: all 0.3s ease-in-out;
  }

  .section__hero__img__container {
    max-height: 100vh;
    -webkit-backface-visibility: hidden;
  }

  &:hover h2:after:hover {
    transform-origin: 0% 50%;
  }

  .hero__overlay {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 21;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
  }

  &:hover h2:after {
    transform: scaleX(0.25);
  }

  &:hover img {
    -webkit-transform: translateZ(0) scale(1.02, 1.02);
    -webkit-backface-visibility: hidden;
  }
  &:hover .hero__overlay {
    opacity: 1;
    transform: scale(1.02);
  }
  h2 {
    margin: 0;
    position: absolute;
    left: 3rem;
    top: 50%;
    font-size: 10rem;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    z-index: 22;

    &:after {
      display: block;
      content: "";
      border-bottom: solid 3px white;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
      transform-origin: 0% 50%;
    }
  }
}
