.social__wrap {
  width: 20%;
  position: relative;
  padding: 30rem 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    .social__overlay:before {
      background: rgba(35, 31, 32, 0.2);
    }
    .facebook--overlay {
      background: rgba(59, 89, 153, 0.8);
    }

    .twitter--overlay {
      background: rgba(85, 172, 238, 0.8);
    }

    .youtube--overlay {
      background: rgba(205, 32, 31, 0.8);
    }

    .instagram--overlay {
      background: rgba(252, 175, 69, 0.8);
    }

    .map--overlay {
      background: rgba(239, 105, 230, 0.8);
    }
  }
}

.social__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 35;
  transition: all 0.5s ease-in-out;
}

.social__overlay:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(35, 31, 32, 0.6);
  z-index: 34;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 35;
  transition: all 0.5s ease-in-out;
}

.social__content {
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  z-index: 36;
  transform: translateX(-50%);
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;

  i {
    font-size: 3rem;
    text-align: center;
    display: block;
    margin-bottom: 1.5rem;
  }
}
