.trending__item {
  cursor: pointer;
  background: white;
  border: 1px solid #eee;
  position: relative;
}

.trending__overlay {
  &:hover {
    opacity: 1;
  }
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;

  a {
    position: absolute;
    background: black;
    color: white;
    padding: 2rem 3rem;
    left: 0;
  }
}

.trending__item__top {
  display: flex;
  justify-content: center;
  height: 60%;
  img {
    width: 100%;
    height: auto;
    max-width: 600px;
  }
}

.trending__item__bottom {
  height: 40%;
  text-align: center;
  padding-bottom: 3rem;

  p {
    font-size: 1.9rem;
  }

  i {
    color: #ad2b2b;
  }
}

.trending__header {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}
