.trending__item {
  height: 40vh;
  background: white;
  border: 1px solid #eee;
}

.trending__item__top {
  height: 70%;
  background: pink;
}

.trending__item__bottom {
  height: 30%;
  background: green;
}

.trending__header {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}
