.trending__item {
  background: white;
  border: 1px solid #eee;
}

.trending__item__top {
  padding: 2rem 0;

  img {
    width: 100%;
    height: auto;
  }
}

.trending__item__bottom {
}

.trending__header {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}
